<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.dailycrunch.quiztion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PerformanceActivity"></activity>
        <activity android:name=".EditProfile" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AnswerSheetActivity" />
        <activity android:name=".UserReportActivity" />
        <activity android:name=".AdminPaperSetActivity" />
        <activity android:name=".AdminLeaderboardActivity" />
        <activity android:name=".AdminAsksQuestionNo" />
        <activity android:name=".AdminWelcomeActivity" />
        <activity android:name=".QuestionActivity" />
        <activity android:name=".QuizListActivity" />
        <activity android:name=".ForgotActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>